<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\style.css">
    <title>PORTFOLIO - Accueil</title>
</head>

<body>
    <div class="container">
        <!--(DEBUT NAGIVATION PAGE)-->
        
            <nav class="navPage">
                <ul class="menu">
                    <ul>
                        <a class="menuDeroulant">MENU</a>
                        <ul class="subMenu">
                            <ul>
                                <a href="/index" title="Accueil">Accueil</a>
                            </ul>
                            <ul>
                                <a href="/library" title="Librairie">Ma librairie</a>
                            </ul>
                            <ul>
                                <a href="/cv" title="CV">CV</a>
                            </ul>
                            <ul>
                                <a href="/connexion" title="Se connecter">Se connecter</a>
                            </ul>
                        </ul>
                    </ul>
                </ul>
            </nav>


