* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.cardProfil {
    width: 90%;
    max-width: 35em;
    padding: 2em;
    text-align: center;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 0 0.4em 2em rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.45em);



}

.cardProfil img {
    width: 9.3em;
    border-radius: 50%;
    margin-top: 1.3em;
    background-color: rgba(240, 248, 255, 0.856);
}

.titreProfil {
    font-size: 4em;
    color: aliceblue;
    font-weight: 600;
    text-shadow: 1px black;
    padding-top: 0.5em;
}

.textProfil {
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px black;
    margin: 1.5em;

}

.logoReseaux img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 1em 0.5em;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.5s;

}

.cardProfil .logoReseaux img:hover {
    background-color: rgb(240, 90, 195);
}

.cardProfil .button a:hover {
    transition: 0.5s;
    background-color: rgb(240, 90, 195);
    color: aliceblue;
}

.cardProfil .button a {
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 700;
    background: rgba(230, 230, 240, 0.95);
    color: rgb(240, 90, 195);
    padding: 0.7em 0.7em;
    border-radius: 2em;
    margin: 2em 0 0.7em;

}


/*(DEBUT) NAVIGATION DE LA PAGE */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.menu {}

.menuDeroulant {
    display: block;
    background-color: #81215100;
    padding: 1em;
    margin-bottom: 0.5em;
    width: 10em;
    border: 1px solid #812151;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: 600;

}
.menu .menuDeroulant:hover {
    transition: 0.5s;
    background-color: #812151;
    color: aliceblue;
}

.subMenu li:hover a{
    transition: 0.5s;
    background-color: #812151;
}

.navPage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-top: 20em;
}



header li:hover .subMenu {
    display: block;
    margin: 1em;
}

header li:hover .subMenu a {
    display: flex;
    justify-content: center;
    border: 1px solid #812151;
    border-radius: 2rem;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 1em;
    font-weight: 600;
    text-align: center;
}

.subMenu li:hover .menuDeroulant li{
    background: none;
}

.subMenu {
    display: none;
    width: 12em;
    line-height: 3rem;
}


/*(FIN) NAVIGATION DE LA PAGE */