<%- include ('partials/nav') %>
<link rel="stylesheet" href="/css/cv.css">

        <embed src="../images/CV normal à jour.pdf" width="500" height="600" type="application/pdf">
    </div>
</body>
</html>