* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image:url(../images/wallpaperflare.com_wallpaper.jpg);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container__form {
    width: 90%;
    max-width: 35em;
    text-align: center;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 0 0.4em 2em rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.45em);
    padding: 1.5em 5em;
}


legend {
    color: aliceblue;
    font-size: 3.5em;
    text-shadow: 1px black;
    margin: 0.7em;
    font-weight: bold;
}

.champsaRemplir {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px black;
    margin: 1.5em;
}

input:placeholder-shown{
    text-align: center;
}

.champsPassword{
    height: 3.2em;
    width: 15em;
    border-radius: 5px;
    border: none;
    
}

.champsUser{
    height: 3.2em;
    width: 15em;
    border-radius: 5px;
    border: none;
}


.forgetPassword {
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 1px black;
    font-weight: 600;
}

.login {
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 0.7em;
}

.login>button {
    border: none;
    background: rgba(230, 230, 240, 0.95);
    color: rgb(240, 90, 195);
    border-radius: 2em;
    padding: 0.7em 0.7em;
    margin: 2em 0 0.7em;
}
.login>button:hover{
    transition: 0.5s;
    background-color: rgb(240, 90, 195);
    color: aliceblue;
}

.youcanToo{
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 1px black;
    font-weight: 600;
    border-top: 1px solid aliceblue;

}


.links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.links img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 1em 0.5em;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.5s;
}

.links img:hover {
    background-color: rgb(240, 90, 195);
}

.logoLogin {
    display: flex;
    width: 100%;
    height: 3.4em;
    width: 3.4em;
    
  }
.footer {
    flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px black;
  color: antiquewhite;
    text-shadow: 1px black;
    color: antiquewhite;


}



/*(DEBUT) NAVIGATION DE LA PAGE */

.header {
  
}

.menu {}

.menuDeroulant {
    display: block;
    background-color: #81215100;
    padding: 1em;
    margin-bottom: 0.5em;
    width: 10em;
    border: 1px solid #812151;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: 600;

}

.menu .menuDeroulant:hover {
    transition: 0.5s;
    background-color: #812151;
    color: aliceblue;
}

.subMenu li:hover a {
    transition: 0.5s;
    background-color: #812151;
}

.navPage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 2em;
}

.navPage li:hover .subMenu {
    display: block;
    margin: 1em;
}

.navPage li:hover .subMenu a {
    display: flex;
    justify-content: center;
    border: 1px solid #812151;
    border-radius: 2rem;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 1em;
    font-weight: 600;
    text-align: center;
}

.subMenu li:hover .menuDeroulant li {
    background: none;
}

.subMenu {
    display: none;
    width: 12em;
    line-height: 3rem;
}


/*(FIN) NAVIGATION DE LA PAGE */

/*(DEBUT) MEDIAQUERIES RESPONSIVE POUR TEL/TABLETTE*/

@media only screen and (max-width: 390px) {
    .cardProfil {
        padding: 1em;
    }

    .titreProfil {
        font-size: 2.5em;
    }

    .textProfil {
        font-size: 1.2em;
        margin: 1em;
    }

    .cardProfil .button a {
        font-size: 1.3em;
        padding: 0.5em 0.7em;
        margin: 1em 0 0.5em;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    .cardProfil {
        padding: 1em;
    }

    .titreProfil {
        font-size: 2.5em;
    }

    .textProfil {
        font-size: 1.2em;
        margin: 1em;
    }

    .cardProfil .button a {
        font-size: 1.3em;
        padding: 0.5em 0.7em;
        margin: 1em 0 0.5em;
    }

    .menu {
        display: none;
    }
}

/*(FIN) MEDIAQUERIES RESPONSIVE POUR TEL/TABLETTE*/